<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong><%= @bingo_hall.name %>
</p>
<p>
  <strong>Bingo hall share link: </strong> <%= link_to bingo_hall_path(id: @bingo_hall.id) %>
</p>

<% if @current_player.present? %>

  <p>
    I represent your bingo board!
    <%= render 'bingo_boards/board', squares: @current_player.bingo_board.squares %>
  </p>

  <p>
    <%= @bingo_boards.count %> players present
  </p>

  <% @bingo_boards.where.not(id: @current_player.bingo_board.id).each do |bingo_board| %>
    <p>
      <%= bingo_board.player.name %>
      <%= render 'bingo_boards/board', squares: bingo_board.squares %>
    </p>
  <% end %>

  <%= link_to 'Back', bingo_halls_path %>
<% end %>
